* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #666666;
  line-height: 1.5em;
  position: relative;
}
.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 40px;
}
.wrapper.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(250px) translateY(50px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.wrapper section {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper section h1 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
}
.wrapper section h2 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px;
}
.wrapper section p {
  margin-bottom: 30px;
}
.openNav {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 50px;
  height: 50px;
  background-color: #14B9FF;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9;
}
.openNav:hover {
  cursor: pointer;
}
.openNav .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 24px;
  left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 0px;
}
.openNav .icon:before {
  top: -7px;
}
.openNav .icon:after {
  top: 7px;
}
.openNav.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(250px) translateY(50px);
}
.openNav.open .icon {
  background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
  top: 0;
}
.openNav.open .icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
nav {
  background-color: #14B9FF;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  width: 250px;
  margin-top: 50px;
}
nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);
}
nav ul li {
  transition-duration: 0.25s;
  display: block;
  padding: 5px 40px;
  color: white;
  letter-spacing: 0.02em;
  text-align: right;
}
nav ul li:hover {
  cursor: pointer;
  color: white;
}
.doc-title-box {
    height: 40px;
    margin: 1px 1px 20px;
    width: auto;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
pre {
    width: 800px;
    margin: 15px 0 0 0;
    padding: 20px;
    border: 0;
    border: 1px dotted #785;
    background: #f5f5f5;
    line-height: 1.4;
    font-family: Consolas;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Bitter", sans-serif;
  color: #f5f4ed;
  background-color: #795d6b;
}

a {
  color: #e86256;
  text-decoration: none;
}

/* -------------------------------- 

Back to Top - by CodyHouse.co

-------------------------------- */


@media only screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
  header h1 {
    font-size: 3rem;
  }
}

main {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main p {
  line-height: 1.6;
  margin: 2em 0;
}

@media only screen and (min-width: 1024px) {
  main p {
    font-size: 2rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

